<div class="tell">
    <p>tell us more about you</p>
    <a href="/sign" class="skip">skip</a>
</div>
<div class="system">

    <form method="POST" style="align-content:space-around">
        <input name="age" placeholder="age" id="age" />
        <input name="city" placeholder="city" />
        <div class="countries"><input
                class="inpCout"
                name="country"
                type="text"
                placeholder="search country "
                id="countries"
            />
            <div id="results"></div>
        </div>
        <input name="website" placeholder="website" value="http://" />
        <button type="submit">sign petition</button>

    </form>
    <div class="title"><h1 class="header">animate</h1></div>

</div>
<div id="exists"></div>