<h1>Petition</h1>
<p>Sign this petition!</p>
<form method="POST">

    Name:
    <input name="name" />
    Surname:
    <input name="surname" />
    Age:
    <input name="age" />
    City:
    <input name="city" />
    Country:
    <div class="countries"><input
            name="country"
            type="text"
            placeholder="Seach..."
            id="countries"
        />
        <div id="results"></div></div>
    <canvas width="300" height="100"></canvas>
    <button type="submit">Submit</button>
</form>