<p class="float">From Anima: "Breath, Soul"<br />Animate litterally means "to
    give a soul". Lets brings life an otherwise grey user experience<br />Say no
    to soulles websites, sign this petition to make animated website Mandatory!</p>
<p>make animation mandatory </p>
<div class="system">

    <a href="/register">
        <div class="title">
            <h1 class="header">
                animate
            </h1>
        </div>
    </a>
    <button></button></div>