<div class="title" style="margin: 40px;"><h1 class="header">sign</h1></div>
<form method="POST" style="justify-content:space-around">

    <canvas width="320" height="200"></canvas>
    <input name="signature" id="signature" style="display:none" />
    <button type="submit" id="sign">submit</button>
</form>