<div class="title"><h1 class="header">sign</h1></div>
<form method="POST" style="justify-content:space-around">

    <label>sign</label>
    <canvas width="320" height="200"></canvas>
    <input name="signature" id="signature" style="display:none" />
    <button type="submit">sign</button>

</form>