* {
    box-sizing: border-box;
    font-family: Cochin, Georgia, Times, "Times New Roman", serif;
}
h1 {
    font-weight: 1;
    color: white;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
        0.25turn,
        rgb(161, 221, 230),
        rgba(88, 178, 234, 0.333),
        rgba(114, 114, 224, 0.354)
    );
}
p {
    text-align: center;
    color: rgb(23, 30, 106);
    margin-top: 10px;
    margin-bottom: 0;
}
.note {
    margin-top: 20;
    font-weight: 2;
    font-size: 9px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
}

#bub {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 1px rgb(255, 255, 255);
    height: 130px;
    width: 130px;
    transition: 700ms;
    overflow: hidden;
    background: linear-gradient(
        rgba(161, 221, 230, 0.02),
        rgba(88, 178, 234, 0.02),
        rgba(114, 114, 224, 0.02)
    );
}

#bub:hover {
    margin: 0px;
    height: 150px;
    width: 150px;
    background: linear-gradient(
        rgba(161, 221, 230, 0.257),
        rgba(88, 178, 234, 0.253),
        rgba(231, 231, 249, 0.104)
    );
}
input {
    text-align: center;
    width: 70%;
    height: 40%;
    border-radius: 50%;
    border: none;
    margin: 10px;
    background-color: transparent;
    box-shadow: 0px 0px 10px 1px rgb(255, 255, 255);
    transition: all 500ms;
}

input:focus,
textarea:focus {
    outline: none;
}

.inpCout {
    width: 100%;
    height: 40px;
    margin: 0;
}

.title {
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0px 0px 20px 1px rgb(255, 255, 255);
}
label {
    margin-top: 20px;
    font-size: 11px;
    color: rgb(23, 30, 106);
}
button {
    background-color: transparent;
    box-shadow: 0px 0px 20px 1px rgb(255, 255, 255);
    border: none;

    border-radius: 50%;
    padding: 25px;
    color: rgb(19, 62, 100);

    cursor: pointer;
}
.button {
    text-align: center;
    margin-top: 20px;
    border: none;
    border-radius: 50%;
    padding: 5px;
    color: rgb(19, 62, 100);
    margin-bottom: 5px;
    font-size: 12;
}

a:link {
    text-decoration: none;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-content: center;
}

nav {
    position: absolute;
    right: 20px;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: right;
}
#init {
    width: auto;
    height: 37px;
}

#account {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px 1px rgb(198, 175, 249);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transform: rotate(0turn);
    transition: all 1s;
    background: linear-gradient(
        rgba(255, 255, 255, 0.459),
        rgba(176, 161, 230, 0.512)
    );
}

#account:hover {
    box-shadow: 0px 0px 30px 10px rgb(255, 255, 255);
}
#menu {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100px;
    height: 0px;
    overflow: hidden;
    background-color: rgba(163, 128, 240, 0.6);
    transition: 1s;
    border-radius: 10px;
}
#menu ul {
    list-style-type: none;
}
#menu a {
    padding-left: 15px;
    left: 0;
    transition: 400ms;
}
#menu a:hover {
    font-size: 20px;
}
