body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}
#user {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    box-shadow: 0px 0px 30px 2px rgb(255, 255, 255);
    width: 100%;
    margin: 0;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 70px;
}
header * {
    margin: 0;
}
img {
    margin-left: 20px;
    width: 125px;
    height: 125px;
}
#nosign {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}
#nosign form {
    margin-left: 20px;
    font-size: 12px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    color: rgb(23, 30, 106);
}

#info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.data {
    display: grid;
    grid-template-columns: 2fr;
    width: 50%;
}

.data p {
    margin: 10px;
    padding: 10px;
    width: 50%;
    height: 80px;
    box-shadow: 0px 0px 10px 2px rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#buttons {
    margin-right: 200px;
}
#buttons form {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    transition: 500ms;
}

#buttons form:hover {
    background: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(144, 224, 248, 0),
        rgba(24, 3, 102, 0)
    );
}
